<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jnel.eidos.collector</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Application Support/Eidos Collector/Eidos Collector.app/Contents/MacOS/eidos-collector</string>
    </array>
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>ExitTimeOut</key>
    <integer>20</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>Umask</key>
    <string>027</string>
    <key>StandardOutPath</key>
    <string>/var/log/eidos-collector.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/eidos-collector.log</string>
    <key>SoftResourceLimits</key>
    <dict>
        <key>FileSize</key>
        <integer>10485760</integer>
    </dict>
    <key>HardResourceLimits</key>
    <dict>
        <key>FileSize</key>
        <integer>10485760</integer>
    </dict>
</dict>
</plist>
